# CONTENT BASED RECOMMENDATION SYSTEM #

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits, on='title')
# merge the dataset

preprocessing

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [7]:
'''
    genre, movie_id, keywords, title, overview, cast, crew
'''
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [8]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies = movies.dropna()

In [11]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

convert this to -> ['Action', 'Adventure, 'Fantasy'...]

In [13]:
# import ast
# def convert(obj):
#     l = []
#     obj = ast.literal_eval(obj)  # Convert the string to a list of dictionaries
#     for i in obj:
#         l.append(i['name'])
    
#     # Now that we are sure obj is a list of dictionaries, we can extract 'name' from each
#     return [i['name'] for i in obj]

In [14]:
import json
def convert(genre_string):
    genre_list = json.loads(genre_string)
    return [genre['name'] for genre in genre_list]

In [15]:
# import ast
# def convert(obj):
#     if isinstance(obj, str):
#         obj = ast.literal_eval(obj)
#     return [i['name'] for i in obj]

In [16]:
movies['genres'] = movies['genres'].apply(convert)

In [17]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

Converted the genres column to desired list[str]

In [18]:
movies['keywords'] = movies['keywords'].apply(convert)

In [19]:
# for top 3 cast
def convert2(genre_string):
    genre_list = json.loads(genre_string)
    return [genre['name'] for genre in genre_list[:5]]

In [20]:
movies['cast'] = movies['cast'].apply(convert2)

In [21]:
# function to get director from crew
def get_director(genre_string):
    genre_list = json.loads(genre_string)
    return [genre['name'] for genre in genre_list if genre['job'] == 'Director']

In [22]:
movies['crew'] = movies['crew'].apply(get_director)

In [23]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [24]:
# string to list
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [25]:
def space(obj):
    return [i.replace(' ', '') for i in obj]

In [26]:
movies['genres'] = movies['genres'].apply(space)
movies['keywords'] = movies['keywords'].apply(space)
movies['cast'] = movies['cast'].apply(space)
movies['crew'] = movies['crew'].apply(space)

In [27]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]

preprocessed our columns in list[str], now its time to merge them to make tags

In [28]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [29]:
new_movies = movies[['movie_id', 'title', 'tags']]

In [30]:
new_movies.loc[:, 'tags'] = new_movies['tags'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)

In [31]:
new_movies.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [32]:
new_movies.loc[:, 'tags'] = new_movies['tags'].apply(lambda x: x.lower())

VECTORIZATION

In [51]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [46]:
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [47]:
vectors = cv.fit_transform(new_movies['tags']).toarray()

In [48]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      shape=(5000,), dtype=object)

In [49]:
import nltk
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

used to solve multiple occurence error of tags like love, loved, loves

In [42]:
def stem(text):
    temp = []
    for i in text.split():
        temp.append(ps.stem(i))
    return " ".join(temp)

In [45]:
new_movies.loc[:, 'tags'] = new_movies['tags'].apply(stem)

In [53]:
similarity = cosine_similarity(vectors)

In [64]:
def recommend(movie):
    movie_index = new_movies[new_movies['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse = True, key = lambda x : x[1])[1:11]
    for i in movie_list:
        print(new_movies.iloc[i[0]].title)